/_next/** -diff linguist-generated=true
/_not-found/** -diff linguist-generated=true
/404/** -diff linguist-generated=true
/brand/** -diff linguist-generated=true
/delete-account/** -diff linguist-generated=true
/privacy/** -diff linguist-generated=true
/screens/** -diff linguist-generated=true
/support/** -diff linguist-generated=true
/terms/** -diff linguist-generated=true
/404.html -diff linguist-generated=true
/__next*.txt -diff linguist-generated=true
/.nojekyll -diff linguist-generated=true
/favicon.svg -diff linguist-generated=true
/file.svg -diff linguist-generated=true
/globe.svg -diff linguist-generated=true
/index.html -diff linguist-generated=true
/index.txt -diff linguist-generated=true
/og.png -diff linguist-generated=true
/pages-root-manifest.json -diff linguist-generated=true
/robots.txt -diff linguist-generated=true
/sitemap.xml -diff linguist-generated=true
/window.svg -diff linguist-generated=true
